<header class="header">
    <div class="container">
        <h1 class="logo">Sophira Digital</h1>

        <nav class="nav">
            <a href="/">Início</a>
            <a href="/produtos">Produtos</a>
            <a href="/contato">Contate-nos</a>
            <!-- BOTÃO DESTACADO -->
            <a href="admin/login" class="btn-teamsophira" style="padding: 8px 18px; margin-left: 20px;">
                Equipe Sophira
            </a>
        </nav>
    </div>
</header>